body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f9f6;
}

#hero {
    min-height: 80vh;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 100px; 
    background: 
        linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
        url('../imagenes/plantas-banner.webp') center/cover no-repeat;
    color: white;
}

#hero h1 {
    opacity: 0;
    animation: fadeUp 1.5s ease forwards;
}

#hero p {
    opacity: 0;
    animation: fadeUp 2s ease forwards;
}

@keyframes fadeUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/* Hero 2*/
.hero-secundario {
    height: 60vh;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)),
    url('../img/plantas-banner.jpg');
    background-size: cover;
    background-position: center;
}

/* Animación suave para mostrar texto */
.oculto {
    display: none;
    transition: all 0.4s ease-in-out;
}

/* Hover tarjetas */
.valor-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.valor-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* Animación carrito */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  50% { transform: translateX(4px); }
  75% { transform: translateX(-4px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.4s ease;
}
